@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

:root {
    --font-libre-baskerville: "Libre Baskerville", serif;
    --color-primary: #9F3103;
}

body {
    font-family: var(--font-libre-baskerville);
}
